<div class="side-bar side-bar-hidden">

    <div class="quit-nav">
      <i class="fas fa-times"></i>
    </div>
  <div class="top-side-bar">
      <div class="avatar-nav">
        <%= cl_image_tag current_user.avatar.key%>
        <div class="name-nav">
          <%= link_to "#{current_user.nickname.capitalize}", user_path(current_user) %>
          <%= current_user.average_rating %> ✭
        </div>
      </div>
  </div>

  <div class="bottom-side-bar">
      <h2><span></span><i class="fas fa-home"> </i> <%=link_to "Home", root_path  %></h2>
      <h2> &nbsp;<i class="fas fa-info"></i> &nbsp; Help</h2>
      <h2><i class="fas fa-cog">  </i> Settings</h2>
      <h2><i class="fas fa-sign-out-alt"></i> <%=link_to "Logout", destroy_user_session_path, method: :delete %></h2>
  </div>
</div>
