<%= simple_form_for [@event] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form">
    <!-- FIRST PART -->
    <div class="step first-form active">
      <fieldset class="hidden" type="hidden">
        <h4>Select sport type</h4>
        <div class="sport-choices">
          <% Sport.all.each do |sport| %>
            <div class="content-sport">
              <input class="hidden-radio" type="radio" value="<%= sport.id %>" name="event[sport_id]" id="event_sport_id_<%= sport.id %>">
              <label class="sport-choice" for="event_sport_id_<%= sport.id %>">
                <%= image_tag sport.icon, class:"sport-icon" %>
                <p><%= sport.name.capitalize %></p>
              </label            >
            </div>
          <% end %>
          </div>
          <div class="button-next-center">
            <a class="btn btn-step1 btn-next-disable next-btn" type="button">Next</a>
          </div>
      </fieldset>
    </div>

    <!-- SECOND PART -->
    <div class="step second-form">

      <h4>Give some details</h4>
      <%= f.input :title, label: "EVENT'S TITLE", required: false, input_html: {class: "input-step2"}%>
      <%= f.input :location, label: "WHERE DO YOU WANT TO TRAIN ?", required: false,  input_html: {class: "input-step2"}%>
      <%= f.input :start_time, as: :string, label: "LET'S MEET AT: ", required: false, input_html: {class: "datepicker input-step2"} %>
      <%= f.input :duration, label: "HOW LONG (H) ?", collection: 1..5, selected: 1, label_html:{class: "label-duration"}, input_html: {class: "input-step-3"}%>

      <div class="button-next-center">
        <a class="btn btn-step2 btn-next-disable next-btn" type="button">Next</a>
      </div>
    </div>

    <!-- THIRD PART -->
    <div class="step third-form">
      <h4>Event details</h4>
      <div class="d-flex justify-content-center my-4">
        <div class="w-75">
            <%= f.input :number_of_participants, as: :range , required: false, input_html: {class:"custom-range", id:"customRange11", min: "0", max:"10"}%>
        </div>
        <span class="font-weight-bold text-primary ml-2 valueSpan2"></span>
      </div>
      <%= f.input :description, label: "Tell us more about your event", as: :text %>
      <div class="form-actions">
        <div class="button-next-center">
          <%= f.button :submit, class: "btn-next-disable btn-step3" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
