  <%= simple_form_for [@event] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form">
      <div class="back-btn-link">
        <%= link_to root_path do %>
        <i class="fas fa-chevron-left back-btn-new"></i>
        <%end %>
      </div>
      <!-- FIRST PART -->
      <div class="step first-form active">
        <fieldset class="hidden" type="hidden">
          <h4>Select sport type</h4>
          <div class="sport-choices">
            <% Sport.all.each do |sport| %>
              <input class="hidden-radio" type="radio" value="<%= sport.id %>" name="event[sport_id]" id="event_sport_id_<%= sport.id %>">
              <label class="sport-choice" for="event_sport_id_<%= sport.id %>">
                <%= sport.name.capitalize %>
              </label>
            <% end %>
          </div>

          <a class="btn btn-step1 btn-next-disable next-btn" type="button">Next</a>
        </fieldset>
      </div>

      <!-- SECOND PART -->
      <div class="step second-form">

        <h4>Event details</h4>
        <%= f.input :title, label: "Tell us more about your event ?"%>
        <%= f.input :location, label: "Where will you train ?" %>
        <%= f.input :start_time, as: :string, label: "Let's meet at:", required: false, input_html: {class: "datepicker"} %>
        <%= f.input :duration, label: "How many time (hours) ?", collection: 1..5%>
        <a class="btn btn-step2 btn-next-disable next-btn" type="button">Next</a>
      </div>

      <!-- THIRD PART -->
      <div class="step third-form">
        <h4>Event details</h4>
        <%= f.input :number_of_participants %>
        <%= f.input :description %>
        <div class="form-actions">
          <%= f.button :submit, class: "btn-create-event" %>
        </div>
      </div>

    </div>
  <% end %>
