<% if @event_image.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event_image.key %>')">
    <%= cl_image_tag @event_image.key, class: "show-banner-img"%>
  </div>
<% end %>


<div class="container">
  <p><%= @event.start_time.strftime("%e %b %Y %H:00")%></p>
  <p><%= @event.sport.name %></p>

  <div class="row">
    <p><%= @event.number_of_participants %></p>
    <%= simple_form_for [@event] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<% if Attendee.find_by(event_id: @event, user_id: current_user )%>
  <%= @event.attendees.count %>/<%= @event.number_of_participants %> participants
<% else %>
  <%= simple_form_for [@event, Attendee.new()] do |f| %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
<% end %>

