<div class="container_top_show_event">
  <div class="menu-burger">
        <div class="burger-strip"></div>
        <div class="burger-strip"></div>
        <div class="burger-strip"></div>
  </div>
  <%= render 'shared/burger' %>
</div>
<!-- <div class="image_show-event">
  <%= cl_image_tag @event_image.key, class: "show-banner-img"%>
</div> -->
<div class="container_event_form" style="filter: blur(3px);
background-image: url(<%= cl_image_path @event_image.key %>); height: 285px; ">
</div>
<div class="event_form">
    <%= simple_form_for [@event] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <!--   <div>
      <p align="center"><strong style="color: #C3C3C3; font-size: 30px;"><%= @event.start_time.strftime("%a, %e %b %Y")%></strong></p>
    </div> -->
      <h2><strong style="color: white"><%= @event.title %></strong></h2>
        <p style="font-style: italic; font-size: 14px; font-family: Roboto, sans-serif">Organised by: <%= @event.user.nickname.capitalize %></p>
        <p style="margin-top: -10px;"><strong style="padding-top: 10px; color: #00AD68; font-size: 14px; font-size: 14px; font-family: Roboto, sans-serif"><%= @event.location  %></strong></p>
</div>
<div class="row_button ">
  <span class="badge badge-dark align-middle" style="border-radius: 8px; background-color: black; color: white; font-weight: bold; width: 117px;height: 48px; line-height: 45px;"><%= @event.sport.name.capitalize %></span>
</div>
<div class="schedule">
 <div class="date_event">
   <p><i class="far fa-calendar-alt"> <%= @event.start_time.strftime("%a, %e %b %Y")%></i></p>
</div>
<div class="hour_event">
   <p><i class="fa fa-clock"></i> <%= @event.start_time.strftime("%I:%M %P")%> - <%= (@event.start_time + (@event.duration*3600)).strftime("%I:%M %P") %></p>
</div>
<div class="event_description">
  <p style="margin-top: -3px;"><strong style="color:white;  font-size: 16px">Details: </strong></p>
  <p style="color: white; font-size: 14px; font-family: Roboto, sans-serif"><%= @event.description %></p>
  <% end %>
  <% if Attendee.find_by(event_id: @event, user_id: current_user )%>
    <p style="margin-top: 40px;px;font-size: 14px; font-family: Roboto, sans-serif"><strong style="font-size: small;">For the moment, we have: <%= @event.attendees.count%>/<%= @event.number_of_participants %> participants </strong></p>
  <% else %>
      <%= simple_form_for [@event, Attendee.new()] do |f| %>
        <div class="btn_submit_join">
          <button style="border-radius: 8px; background-color: #00AD68; color: white; font-weight: bold; width: 100px;height: 48px; line-height: 45px;">JOIN</button>
        </div>
      <% end %>
  <% end %>
  <br>
  <p><strong style="color: #C3C3C3; font-size: 16px; font-family: Roboto, sans-serif">Who else is coming ?</strong></p>
  <div class="display_avatar">
    <% @event.attendees.each do |attendee| %>
      <p>
        <strong style="color: #C3C3C3; font-size: 14px; font-family: Roboto, sans-serif">
          <% if attendee.user.avatar.attached? %>
            <%= image_tag(attendee.user.avatar, class: "avatar") %>
          <% else %>
            <%= attendee.user.nickname %>
          <% end %>
        </strong>
      </p>
    <% end %>
  </div>
</div>











