<!-- NAVBAR -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
 <a class="navbar-brand" href="#">
    <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fwww.comparetv.com.au%2Fwp-content%2Fuploads%2F2019%2F01%2Fprovider-mate-logo-big.png" />
</a>
  <div class="menu-burger">
    <div class="burger-strip"></div>
    <div class="burger-strip"></div>
    <div class="burger-strip"></div>
  </div>
</div>

<%= render 'shared/burger' %>

<div class="container">

   <div class="container-onglets">
      <div class="onglets active-onglet" data-anime="1">
      Your past events</div>
      <div class="onglets"data-anime="2">Incoming events </div>
    </div>

  <div class="contenu activeContenu" data-anime="1">
    <h3>Events you created</h3>
    <% @past_events_create.each do |event| %>
      <div class="card-product">
        <div class="card-info-events">
          <h6><%= event.start_time.strftime("%d-%m-%y") %> <small>(<%= event.sport.name %>) </small> </h6>
          <h5> <%= event.title %>  </h5>
          <button type="button" class="btn-feedback" data-toggle="modal" data-target="#exampleModalLong<%= event.id %>">
            Rate the attendees
          </button>
        </div>
      </div>
    <% end %>

    <!-- Modal -->
    <% @past_events_create.each do |event| %>
      <div class="modal fade" id="exampleModalLong<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle<%= event.id %>" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle<%= event.id %> ">How was your mates?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <% event.attendees.each do |attendee| %>
                  <% if(@user != attendee.user) %>
                  <div class="attendees-name">
                   <p><strong><%= attendee.user.nickname %> : </strong>  </p>
                  </div>
                      <%= simple_form_for attendee, remote:true do |f| %>
                      <%= f.input :creator_review, label:"You can leave a review to #{attendee.user.nickname}", class: "input" %>
                        <%= f.input :creator_rating, label:"Give #{attendee.user.nickname} a rating !", collection: 1..5 %>
                        <% if attendee.creator_review.nil? %>
                          <%= f.button :submit, 'Let him know', class: 'btn-let-him_know'%>
                        <% else %>
                          <button> Thanks for reviewing</button>
                        <% end %>
                      <% end %>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <h3>Events you joined</h3>
    <% @past_events_join.each do |event| %>
      <div class="card-product">
        <div class="card-info-events">
          <h6><%= event.start_time.strftime("%d-%m-%Y") %> <small>(<%= event.sport.name %>) </small> </h6>
          <h5><%= event.title %> </h5>
          <button type="button" class="btn-feedback-event" data-toggle="modal" data-target="#exampleModalLong<%= event.id %>">
            Rate the event
          </button>
        </div>
      </div>
    <% end %>


    <% @past_events_join.each do |event| %>
      <div class="modal fade" id="exampleModalLong<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle<%= event.id %>" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle<%= event.id %> "> <strong> How was the events? </strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% event.attendees.each do |attendee| %>
                <%= simple_form_for attendee do |f| %>
                  <%= f.input :review, label: "Leave a review !" %>
                  <%= f.input :rating, label: "Give a rating !" %>
                  <%= f.button :submit, 'Leave a feedback', class: 'btn-let-him_know'%>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<!-- INCOMING EVENTS -->

  <div class="contenu" data-anime="2">
      <%# EVENEMENT JOIN PAST %>
      <h3> Events you created </h3>
      <% @futur_events_create.each do |event| %>
        <div class="card-product">
          <div class="card-info-events">
            <div class="icon-container">
              <h6> <%= event.start_time.strftime("%d-%m-%Y") %> </h6>
              <%= image_tag event.sport.icon, class:"sport-icon" %>
            </div>

            <h5><%= event.title %> | </h5>
            <p><strong>For the moment, we have: <%= event.attendees.size%>/<%= event.number_of_participants %> participants: </strong></p>
          </div>
        </div>
      <% end %>

      <h3>Events you joined</h3>
      <% @futur_events_join.each do |event| %>
        <div class="card-product">
          <div class="card-info-events">
            <h6> <%= event.start_time.strftime("%d-%m-%Y") %><small>(<%= event.sport.name %>) </small> </h6>
            <h5><%= event.title %> | </h5>
            <p><strong>For the moment, we have: <%= event.attendees.size%>/<%= event.number_of_participants %> participants: </strong></p>

          </div>
        </div>
      <% end %>
  </div>

</div>

