<!-- NAVBAR -->

  <div class="menu-burger">
    <div class="burger-strip"></div>
    <div class="burger-strip"></div>
    <div class="burger-strip"></div>
  </div>
</div>

<%= render 'shared/burger' %>
<%= render 'shared/navbar_mate' %>


<div class="container">

   <div class="container-onglets">
      <div class="onglets active-onglet" data-anime="1">
      <p> Past events </p></div>
      <div class="onglets"data-anime="2"><p>Incoming events</p> </div>
      <div class="onglets"data-anime="3"> <p>Requests </div>
    </div>

  <div class="contenu activeContenu" data-anime="1">
    <h5>Events you created</h5>
    <% @past_events_create.each do |event| %>
      <div class="card-product">
        <div class="card-info-events">
          <h6> <small><%= event.start_time.strftime("%d-%m-%y") %> (<%= event.sport.name %>) </small> </h6>
          <h6> <%= event.title %>  </h6>
          <button type="button" class="btn-feedback" data-toggle="modal" data-target="#exampleModalLong<%= event.id %>">
            <i class="far fa-star"></i> Rate the attendees
          </button>
        </div>
      </div>
    <% end %>

    <!-- Modal -->
    <% @past_events_create.each do |event| %>
      <div class="modal fade" id="exampleModalLong<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle<%= event.id %>" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle<%= event.id %> ">How was your mates?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <% event.attendees.each do |attendee| %>
                  <% if(@user != attendee.user) %>
                  <div class="attendees-name">
                   <p><strong><%= attendee.user.nickname %> : </strong>  </p>
                  </div>
                      <%= simple_form_for attendee, remote:true do |f| %>
                      <%= f.input :creator_review, label:"You can leave a review to #{attendee.user.nickname}", class: "input" %>
                        <%= f.input :creator_rating, label:"Give #{attendee.user.nickname} a rating !", collection: 1..5 %>
                        <% if attendee.creator_review.nil? %>
                          <%= f.button :submit, 'Let him know', class: 'btn-let-him_know'%>
                        <% else %>
                          <button> Thanks for reviewing</button>
                        <% end %>
                      <% end %>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>


    <h5>Events you joined</h5>
    <% @past_events_join.each do |event| %>
      <div class="card-product">
        <div class="card-info-events">
          <h6><small><%= event.start_time.strftime("%d-%m-%Y") %> (<%= event.sport.name %>) </small> </h6>
          <h6><%= event.title %> </h6>
          <button type="button" class="btn-feedback-event" data-toggle="modal" data-target="#exampleModalLong<%= event.id %>">
            <i class="far fa-star"></i> Rate the event
          </button>
        </div>
      </div>
    <% end %>


    <% @past_events_join.each do |event| %>
      <div class="modal fade" id="exampleModalLong<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle<%= event.id %>" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle<%= event.id %> "> <strong> How was the events? </strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% event.attendees.each do |attendee| %>
                <%= simple_form_for attendee do |f| %>
                  <%= f.input :review, label: "Leave a review !" %>
                  <%= f.input :rating, label: "Give a rating !" %>
                  <%= f.button :submit, 'Leave a feedback', class: 'btn-let-him_know'%>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<!-- INCOMING EVENTS -->

  <div class="contenu" data-anime="2">
      <%# EVENEMENT JOIN PAST %>
      <h5> Events you created </h5>
      <% @futur_events_create.each do |event| %>
        <div class="card-product">
          <div class="card-info-events">
            <div class="icon-container">
              <h6><small><%= event.start_time.strftime("%d-%m-%Y") %> (<%= event.sport.name %>) </small> </h6>
              <h6><%= event.title %> </h6>
            </div>
            <p><strong> <%=(event.number_of_participants - event.attendees.size) %> participants is missed </strong></p>
          </div>
        </div>
      <% end %>

      <h5>Events you joined</h5>
      <% @futur_events_join.each do |event| %>
        <div class="card-product">
          <div class="card-info-events">
           <h6><small><%= event.start_time.strftime("%d-%m-%Y") %> (<%= event.sport.name %>) </small> </h6>
            <h6><%= event.title %> </h6>
            <p><strong><%=(event.number_of_participants - event.attendees.size) %> participants is missed </strong></p>
          </div>
        </div>
      <% end %>
  </div>
<!-- REQUESTS -->

  <div class="contenu" data-anime="3">
    <% @futur_events_create.each do |event| %>
      <% event.attendees.each do |attendee| %>
        <% if attendee.status == 'pending' %>
          <div class="card-product-event">
            <div class="avatar-request">
              <div class="avatar-card">
                <%= cl_image_tag attendee.user.avatar.key%>
              </div>
              <div class="card-request">
                <div class="card-request-profile">
                  <%= attendee.user.nickname %> <br>
                  <p> <%= "⭐" * attendee.user.average_rating + "☆"* (5-attendee.user.average_rating)%></span> (<%= attendee.user.average_rating %>/5) </p>
                </div>
                <div class="declined">
                  <%= link_to declined_attendee_path(attendee) do  %>
                    <i class="fas fa-times"></i>
                  <% end %>
                </div>
                <div class="accepted">
                  <%= link_to accepted_attendee_path(attendee) do %>
                    <i class="fas fa-check"></i>
                  <% end %>
                </div>
            </div>
            </div>
            <div class="card-title-event">
              <strong> <p><%= event.title %> </p> </strong>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>




