<% if user_signed_in? %>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>

    <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  <div class="intro">
    <h3>Good afternoon</h3>
  </div>
  <hr>
  <div class="search-input-map">
    <%= form_tag events_path, method: :get do %>
      <%= text_field_tag :query_location,
      params[:query],
      class: "form-control where-at",
      placeholder: "Where at ?"%>
      <%= text_field_tag :query_category,
      params[:query],
      class: "form-control which-sport",
      placeholder: "Which sport?"%>
      <%= submit_tag "", class: "btn btn-primary search-map-button" %>
    <%end%>
  </div>

  <div class="places-suggestions">
    <div class="saved-places">
    <i class="fas fa-band-aid"></i>
    <h3>Saved places</h3>
  </div>
  <div class="set-location">
    <i class="fas fa-band-aid"></i>
    <h3>Set location on map</h3>
  </div>
</div>
  <hr>
  <div class="down-nav-bar">
    <div class="find-nav">
      <i class="fas fa-search"></i>
      <h4>Find</h4>
    </div>
    <div class="create-nav">
      <%= link_to new_event_path do%>
      <i class="fas fa-plus"></i>
      <h4>Create</h4>
      <%end %>
    </div>
  </div>
</div>

<%else%>

  <div class="container content-center">
    <div class="form-log">
      <%= image_tag "mate.png", alt: "Le logo mate", width: 200, class: "mate-logo" %>
      <div class="buttons-log">
        <%= link_to "Sign up", "/users/sign_up",  target: "_blank", class: "btn-sign_up" %>
        <%= link_to "Continue with facebook", "#", target: "_blank", class: "btn-fb"  %>
        <%= link_to " Login", "/users/sign_in", target: "_blank", class: "btn-log_in"  %>
      </div>
    </div>
  </div>

<%end %>
