<% if user_signed_in? %>

<div class="home-all">
  <div class="top-home">

<!--Classe (top-home) qui regroupe la map + le burger pour permettre une superposition des deux-->

  <div class="menu">
    <div class="menu-burger">
      <div class="burger-striper">
        <div class="burger-strip"></div>
        <div class="burger-strip"></div>
        <div class="burger-strip"></div>
      </div>
    </div>

    <%= render 'shared/burger' %>

    <div id="map"

      style = " height:400px;
                width:380px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>
</div>



  <div class="intro">
    <h3>Good afternoon, <%= current_user.nickname.capitalize %></h3>
  </div>

  <hr>
  <div class="search-input-map">
    <%= form_tag events_path, method: :get do %>
      <%= hidden_field_tag :start_time, Date.today %>
      <%= text_field_tag :query_location,
      params[:query],
      class: "form-control where-at",
      placeholder: "Where at ?"%>
      <%= text_field_tag :query_category,
      params[:query],
      class: "form-control which-sport",
      placeholder: "Which sport ?"%>
      <%= submit_tag "", class: "btn btn-primary search-map-button" %>
    <%end%>
  </div>



</div>


<%else%>

  <div class="container content-center">
    <div class="form-log">
      <%= image_tag "mate.png", alt: "Le logo mate", width: 200, class: "mate-logo" %>
      <div class="buttons-log">
        <%= link_to "Sign up", "/users/sign_up",  target: "_blank", class: "btn-sign_up" %>
        <%= link_to " Login", "/users/sign_in", target: "_blank", class: "btn-log_in"  %>
      </div>
    </div>
  </div>

<%end %>
